body {
  margin: 0;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1508385082359-f38ae991e8f2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
  background-color:red;
  background-size: cover;
  background-blend-mode: screen;
}

h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 15px;
  border-radius: 15px;
  border: 3px solid #333;
  background-color: rgba(235, 53, 40, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
}

h1:hover {
  background-color: rgba(209, 29, 29, 0.8);
}

#calculator {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0px 0px 20px rgba(41, 34, 34, 0.5);
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 200px 200px;
  column-gap: 10px;
  row-gap: 10px;
  padding: 15px;
  margin: 15px;
  border: 3px solid #333;
  border-radius: 15px;
  background-color: rgba(230, 226, 226, 0.85);
  color: black;
  transition-property: background-color;
  transition-duration: 0.3s;
}

#calculator:hover {
  background-color: rgba(230, 200, 200, 0.85);
}

img {
  display: block;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}

img:hover {
  transform: rotate(180deg);
  transition-duration: 0.4s;
}